/* You can add global styles to this file, and also import other style files */

@import './styles/site.css';

/*******************************
         Container
*******************************/

/*******************************
        Segments
*******************************/

.segment {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 1rem 0em;
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
.segment:first-child {
  margin-top: 0em;
}
.segment:last-child {
  margin-bottom: 0em;
}

/*******************************
        Misc
*******************************/

.segment.container {
    min-height: 520px;
}